@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{

    --color-green: #17e465f3;

}

* {

    margin: 0;
    padding: 0;
    border: 0;

}

body {

    background: #210329;
    font-family: 'Roboto', sans-serif;
    color: white;

}

header {

    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.4);

}

.links {

    text-align: center;

}

.links a {

    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 15px;
    text-decoration: none;

}

.links a:hover{

    color: var(--color-green);
    transition: color 500ms;

}

#wrapper{

    text-align: center;
    padding: 32px;

}

#wrapper img{

    border: 5px solid var(--color-green);
    border-radius: 50%;

}

#wrapper h1{

    color: var(--color-green);
    font-size: 45px;
    line-height: 50px;
    margin-top: 20px;
    font-weight: bold;

}

#wrapper p{

    font-size: 23px;
    line-height: 28px;
    margin: 20px auto;
    opacity: 0.8;

}

#wrapper h2{

    font-size: 30px;
    margin-top: 15px;

}

#wrapper ul{

    margin: 15px auto;
    color: var(--color-green);
    width: 80px;    

}

#wrapper li{

    margin-top: 10px;

}

#links-footer a{

    border-bottom: 1px solid var(--color-green);

}

.cards {

    width: 70vw;
    height: 75vh;
    display: grid;
    margin: 3% auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;

}

.card{

    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);

}

.card:hover{

    background-color: rgba(255, 2255, 255, 0.05);

}

#starter{

    border: 2px solid #7159c1;
    color: #7159c1;

}

#starter:hover{

    border: px solid #7159c19f;


}

#launchbase{

    border: 2px solid #fd951f;
    color: #fd951f;

}

#launchbase:hover{

    border: 4px solid #fd951f;


}

#gostack{

    border: 2px solid #04d361;
    color: #04d361;

}

#gostack:hover{

    border: 4px solid #04d361;


}


.card__image-container{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;

}

.card__content{

    text-align: center;

}

.card__info{

    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    top: 80px;
    color: white;

}

.card__info h2{

    font-weight: normal;
    margin-left: 20px;

}

.card__info p{

    background-color: #7159c1;
    text-align: center;
    padding-top: 3px;
    margin-right: 20px;
    border-radius: 30px;

}

.modal-overlay{

    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

}

.modal{

    background-color: white;
    width: 80%;
    height: 80%;
    margin: 5vh auto;
    position: relative;
    border-radius: 8px;

}

.modal .close-modal{

    color: black;
    position: absolute;
    right: 8px;
    top: 3px;
    cursor: pointer;

}

.maximize-modal{

    color: black;
    position: absolute;
    right: 40px;
    top: 10px;
    cursor:pointer;

}

.modal-overlay.active{

    opacity: 100;
    visibility: visible;

}

.modal.max{

    height: 100%;
    width: 100%;
    margin: 0;

}

iframe{

    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.error{

    text-align: center;
    align-items: center;
    margin-top: 100px;

}

.error h1{

    font-size: 200px;

}

.error h2{

    font-size: 30px;
    font-weight: normal;
    margin-top: 20px;

}