{% extends "layout.njk" %}

{% block head %}

    <title>Desafio 2.2</title>
    <link rel="stylesheet" href="/styles.css">

{% endblock head %}

{% block content %}

    <div id="wrapper">

            <img src="{{about.img_url}}" alt="Imagem de {{about.name}}">
            <h1>{{about.name}}</h1>
            <p>{{about.description}}</p>

            <h2>Tecnologias</h2>
            <ul>

                {% for tech in about.technology %}
                
                    <li>{{tech}}</li>

                {% endfor %}
                
            </ul>

        </div>

        <div id="links-footer" class="links">
    
            {% for link in about.links %}
            
                <a href="{{link.url}}">{{link.name}}</a>

            {% endfor %}

        </div>

    </div>

{% endblock content %}