{% extends "layout.njk" %}

{% block head %}

    <title>Desafio 2.3</title>
    <link rel="stylesheet" href="/styles.css">

{% endblock head %}

{% block content %}

    <section class="cards">

        <div class="card">

            <div class="card__image-container">

                <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">

            </div>

            <div class="card__content">

                <h1>Linha Starter</h1>
                

            </div>

        </div>

    </section>

{% endblock content %}