{% extends "layout.njk" %}

{% block head %}

    <title>Desafio 2.3</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock head %}

{% block content %}

    <section class="cards">

        <div class="card" id="starter" >

            <div class="card__image-container">

                <img src="/assets/starter.svg" alt="Starter">

            </div>

            <div class="card__content">

                <h1>Linha Starter</h1>
                
            </div>

            <div class="card__info">

                <h2>5 Módulos</h2>
                <p>Free</p>

            </div>

        </div>

        <div class="card" id= "launchbase">

            <div class="card__image-container">

                <img src="/assets/launchbase.svg" alt="Launchbase">

            </div>

            <div class="card__content">

                <h1>Linha Launchbase</h1>
                
            </div>

            <div class="card__info">

                <h2>8 Módulos</h2>
                <p>Pago</p>

            </div>

        </div>

        <div class="card" id="gostack">

            <div class="card__image-container">

                <img src="/assets/gostack.svg" alt="GoStack">

            </div>

            <div class="card__content">

                <h1>Linha GoStack</h1>
                
            </div>

            <div class="card__info">

                <h2>10 Módulos</h2>
                <p>Pago</p>

            </div>

        </div>

    </section>

    <div class="modal-overlay">

        <div class="modal">

            <div class="modal-content">

                <iframe src="" frameborder="0"></iframe>

            </div>

            <a class="close-modal">

                <span class="material-icons">close</span>

            </a>

            <a class="maximize-modal">

                <span class="material-icons">maximize</span>

            </a>

        </div>

    </div>

    <script src="scripts.js"></script>

{% endblock content %}